<!-- app/views/pages/home.html.erb -->
<html>
<head>
    <title>ARのrailsチュートリアル</title>
</head>
<body>
    <div class="center-box">
        <h1 align="center">Rails MVC 学習</h1>
        <ul>
            <li><h3><%= link_to '管理者Page', main_path %></h3></li>
            <li><h3><%= link_to 'ユーザPage', "#" %></h3></li>
        </ul>
    </div>
</body>
</html>
