<!-- app/view/layouts/_bottom.html.erb -->
            </td>
        </tr>
        <tr height="10%">
            <td class="green-text" colspan="5" align="center">
                Asnica Arang Rails Tutorial
            </td>
        </tr>
    </table>
</div>
